<!-------------------------
; Title: 404 - Not Found HTML
; Author: George Henderson
; Date: 04 July 2021
; Description: Contains HTML markup for the 404 component.
;------------------------->

<div fxLayout="column">
  <mat-card fxFlex style="margin-top:10%; width: 50%; margin-left: 15%;" class="mat-elevation-z0">
    <mat-card-title>
      <img src="../../assets/not-found-image.png">
    </mat-card-title>
    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="accent" routerLink="/">Return home</button>
    </mat-card-content>
  </mat-card>
</div>
