
<!--===========================
; Title: About Component HTML
; Author: George Henderson
; Date: 20 June 2021
; Description: Contains the HTML for the About Component.
;===========================-->
<div class="row">
  <div class="col-6">
    <img src="../../assets/mozart.jpg" alt="Painted portrait of Wolfgang Amadeus Mozart"> <!--Mozart Image-->
  </div>
  <div class="col-6">
    <p>
      Mozart commonly called himself Wolfgang Amadé or Wolfgang Gottlieb. He was estranged from his father Leopold, whom came from a family in good standing (including architects and bookbinders). His father Leopold was an author of a famous violin-playing manual that so happened to be published the year of Mozarts birth. Wolfgang Amadé's mother was born of a middle class family in local administration.
    </p><!--About Mozart-->
  </div>
</div>
