/*---------------------------------------
; Title: App Styles
; Author: George Henderson
; Date: 04 July 2021
; Description: Contains the styles for the Root Component
;---------------------------------------*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
