<!--===========================
; Title: Composer Details Component HTML
; Author: George Henderson
; Date: 20 June 2021
; Description: Contains the HTML for the composer details
; component.
;===========================-->
<div class="col-6" style="margin: auto;">
  <ul class="list-group">
    <li class="list-group-item">Name: {{composer.fullName}}</li>
    <li class="list-group-item">Composer ID: {{composer.composerId}}</li>
    <li class="list-group-item">Genre: {{composer.genre}}</li>
  </ul>
  <br>
  <h3>
    <a routerLink="/composer-list">&lt;&lt;  Back to Composer List</a>
  </h3>
</div>
