/*============================
; Title: Base-Layout Styles
; Author: George Henderson
; Date: 04 July 2021
; Description: Contains the styles for the base-layout component.
;============================*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin:0 auto;
}
