/*============================
; Title: Main Styles
; Author: George Henderson
; Date: 04 July 2021
; Description: Contains the root styles.
;============================*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
